# Docker ignore
__pycache__/
*.pyc
*.pyo
.git/
.gitignore
README.md
node_modules/
frontend/node_modules/
frontend/src/
frontend/public/
frontend/*.json
frontend/*.js
frontend-build/
venv/
.env
*.egg-info/
.DS_Store